html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../images/bg_image.jpg");
  background-size: cover;        /* Fill entire screen */
  background-position: center;   /* Center image */
  background-repeat: no-repeat;  /* No tiling */
  background-attachment: fixed;  /* Optional: parallax effect */
}
