/* ===== Base Navbar ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 36, 111);
    padding: 10px 20px;
    position: fixed;   /* Navbar fixed on top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-sizing: border-box; /* include padding in width */
}

body {
    padding-top: 60px; /* prevent content hidden behind navbar */
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links > li::after {
    content: "|";
    color: white;
    margin-left: 10px;
}

.nav-links > li:last-child::after {
    content: "";
}

.nav-links > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* ===== Hamburger ===== */
/* .hamburger {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
} */
 .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Hamburger → Cross animation */
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}






/* ===== Mobile ===== */
@media (max-width: 430px) {

  .hamburger {
    display: flex;
  }

  /* Mobile menu */
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;

    background-color: rgb(28, 36, 111);

    flex-direction: column;
    align-items: stretch;

    padding: 10px 15px;
    gap: 0;

    /* IMPORTANT PART */
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  /* Remove separators */
  .nav-links > li::after {
    content: "";
  }

  /* Items */
  .nav-links > li {
    width: 100%;
  }

  /* Links */
  .nav-links > li > a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
  }

  .nav-links > li:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(255,255,255,0.25);
    margin: 6px 0;
  }

  .nav-links > li:last-child > a {
    border-bottom: none;
  }
}


